<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
      

    <style>
        .nav-bar{
            width: 100%;
            background-color: #266a0b;
            height: 20px;
            position: relative;
        }
        .nav{
            background: #266a0b;
            color:#fff ;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        ul a{
            color: white;
            margin: 10px;
            font-size: 1.5rem;
            text-decoration: none;
        }
        .all{
           
            height: 100vh;
          
            margin-top: 50px;
           align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
        .card-body{
            display: flex;
            justify-content: center;
           align-items: center; 
           background-color: rgb(35, 208, 243);
           width: 70%;
           justify-content: space-between;
           height: 20%;
          margin-bottom: 50px;
          
          
        }
        .text{
            display: flex;
            flex-direction: column;
            width: 50%;
            line-height: 5px;
        }
        .text h3{
            text-align: center;
            font-size: 1.5rem;
            color: white;
        }
        .text h5{
            color: white;
            text-align: center;
            font-size: 1.2rem;

        }
        .card-body a{
            padding: 10px 20px;
            background-color: #266a0b;
            border-radius: 7px;
            color: white;
            margin-right: 20px;
        }
    


    </style>


    <div class="nav-bar">
        <nav class="nav">
            <h1>Great Quotes</h1>
            <ul>
                <a href="">All Quotes</a>
                <a href="http://localhost:5002/products/new">New Quotes</a>
            </ul>
        </nav>
    </div>
    <div class="all">
        <div class="card-body">
            <div class="text">
                <h3 class="card-title">quote of the day</h3>
                <h5 class="card-title">~jatin</h5>
            </div>
            
            
            
            <a href="#" class="btn btn-success">View quoute</a>
    </div>
    <div class="card-body">
        <div class="text">
            <h3 class="card-title">quote of the day</h3>
            <h5 class="card-title">~jatin</h5>
        </div>
        
        
        
        <a href="#" class="btn btn-success">View quoute</a>
</div>
<div class="card-body">
    <div class="text">
        <h3 class="card-title">quote of the day</h3>
        <h5 class="card-title">~jatin</h5>
    </div>
    
    
    
    <a href="#" class="btn btn-success">View quoute</a>
</div>
<div class="card-body">
    <div class="text">
        <h3 class="card-title">quote of the day</h3>
        <h5 class="card-title">~jatin</h5>
    </div>
    
    
    
    <a href="#" class="btn btn-success">View quoute</a>
</div>
<div class="card-body">
    <div class="text">
        <h3 class="card-title">quote of the day</h3>
        <h5 class="card-title">~jatin</h5>
    </div>
    
    
    
    <a href="#" class="btn btn-success">View quoute</a>
</div>
<div class="card-body">
    <div class="text">
        <h3 class="card-title">quote of the day</h3>
        <h5 class="card-title">~jatin</h5>
    </div>
    
    
    
    <a href="#" class="btn btn-success">View quoute</a>
</div>
<div class="card-body">
    <div class="text">
        <h3 class="card-title">quote of the day</h3>
        <h5 class="card-title">~jatin</h5>
    </div>
    
    
    
    <a href="foundproduct" class="btn btn-success">View quoute</a>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>